@font-face {
    font-family: Quick;
    src: url(../assets/fonts/quicksand_light.ttf);
}
@font-face {
    font-family: Sbold;
    src: url(../assets/fonts/quicksand_semibold.ttf);
}
html{
    scroll-behavior: smooth;
}
.nav__link--verde{
    border-bottom: 5px solid #0f7404;
}

/* MAIN */
.main{
    margin: 0 auto;
    width: 1200px;
    max-width: 1300px;
}
.section{
    background-color: #dfdcdc;
    border: 1px solid gray;
    margin: 20px 0px;
}
.section__h1{
    margin: 20px 10px;
    font-family: Sbold;
}
/* TARJETAS HOTEL */
.article__div{
    display: flex;
    justify-content: space-around;
}
.section__img{
    width: 290px;
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.section__card{
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0px 5px;
}
.section__card:hover{
   box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.79);
}
.section__h3{
    padding: 0px 10px;
    font-family: Sbold;
}
.section__h3:hover{
    color: #0f7404;
}
.section__enlace{
    text-decoration: none;
    color: black;
}
.section__p{
    padding: 0px 10px;
    font-family: Quick;
}
.section__h2{
    margin: 20px 10px;
    font-family: Sbold;
}

/* MÁS ALOJAMIENTOS */
.article__div2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hoteles__img{
    width: 210px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid gray;
    height: 98.6%;
}
.hoteles__img1{
    width: 210px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid gray;
    height: 98.3%;
}
.hoteles__h3{
    font-family: Sbold;
}
.hoteles__h3:hover{
    color: #0f7404;
}
.hoteles__div{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 20px 10px;
}
.article__hoteles{
    width: 50%;
}
.hoteles__texto{
    background-color: white;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0px 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.hoteles__div:hover{
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.79);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.hoteles__p{
    font-family: Quick;
}

/* BOTON FIJO */
.boton{
    position: fixed;
    right: 10px;
    bottom: 70px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    background-color: rgba(0, 0, 0, 0.37);
    color: black;
    text-decoration: none;
    border-radius: 30px;
}
.boton__img{
    width: 30px;
}
/* TABLA */
.section2{
    margin: 40px 135px;
    text-align: center;
}
.section__table{
    text-align: center;
    border-collapse: collapse;
}
.section__filas{
    border: 1px solid gray;
}
.section__columnas{
    text-align: center;
    font-family: Quick;
    border: 1px solid gray;
    padding: 5px 20px;
}
.section__columnas--titulo{
    font-family: Sbold;
    background-color: #c7c9c7;
}
.section__columnas--subtitulo{
    font-family: Sbold;
    background-color: #eff1ef;
}
.section__columnas--subtitulo1{
    font-family: Sbold;
}
.section__columnas--gris{
    background-color: #eff1ef;
}
.section__columnas--footer{
    text-align: end;
    background-color: #c7c9c7;
    font-family: Sbold;
    font-size: 0.7rem;
    font-style: italic;
}