@font-face {
    font-family: Quick;
    src: url(../assets/fonts/quicksand_light.ttf);
}
@font-face {
    font-family: Sbold;
    src: url(../assets/fonts/quicksand_semibold.ttf);
}

/* SUBENCABEZADO */
.container_subencabezado{
    width: 100%;
    margin: 0 auto;
}
.subencabezado__link--img{
    width: 100%;
    height: 300px;
}

/* MAIN */
.container__main{
    width: 1300px;
    margin: 0 auto;
    max-width: 1300px;
}

/* BANNER EGIPTO */
.banner{
    padding: 70px 0px 20px 0px;
}
.banner__img{
    width: 1300px;
}

/* OFERTAS */
.ofertas__p{
    margin: 100px 0px 40px 0px;
    padding: 0px 20px;
    font-size: 1.5rem;
    border-left: 3px solid #0f7404;
    color: black;
    font-family: Sbold;
}

/* BOTON FIJO */
.boton{
    position: fixed;
    right: 10px;
    bottom: 70px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    background-color: rgba(0, 0, 0, 0.37);
    color: black;
    text-decoration: none;
    border-radius: 30px;
}
.boton__img{
    width: 30px;
}

/* VIDEO */
.ofertas__video{
    margin: 0px 0px 90px 0px;
}
.video{
    width: 1300px;
    position: relative;
}
.viajes{
    width: 1300px;
    margin: 0 auto;
}
.viajes__iframe{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 40px 0px;
}

/* VIAJES */
.viajes__titulo{
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 1px solid #0f7404;
    padding: 0px 0px 5px 0px;
    color: black;
    font-family: Sbold;
}

/* IFRAME */
.iframe{
    width: 300px;
    height: 200px;
    padding: 0px 10px;
}

html{
    scroll-behavior: smooth;
}
